nav{
    display: flex;
    margin: 0 auto;
    width: 1200px;
    color: white;
    flex-direction: row;
    flex: 0 0 1200px;
    justify-content: space-between;
}

nav .dropdown{
    width: 190px;
    padding: 7px;
    margin: auto 0;
    background: aliceblue;
    margin-right: 25px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 14px;
    color: black;
    position: relative; text-align: center;

}
nav .dropdown img{
    width: 22px;
    float: left;
}

nav .dropdown-menu{
    position: absolute;
    width: 212px;
    top: 70px;
    left: 80%;
    background: white;
    color: black;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
    z-index: 7;
}
nav .sideNavHeader{
    display: none ;
}

nav .dropdown-menu .dropdown-menu-list{
    list-style: none;
}

nav .dropdown-menu .dropdown-menu-list .list-item{
    line-height: 50px;
}


@media (max-width: 768px) {
    nav{
        display: block !important;
    }
    nav form{
        display: none !important;
    }
    nav .dropdown{
        display: none !important;
    }

    nav .dropdown-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        right: 100%;
        height: 100%;
        background-color: black;
        color: white;
    }
    #sidenav{
        width: 20px;
        display: block !important;
    }

    .sideNavHeader{
        display: block !important;
    }
    .sideNavHeader span{
        font-size: 17px;
    }
    .sideNavHeader .dropdown{
        display: block !important;
        float: right;
        width: 85%;

    }


    #sidenav img{
        position: absolute;
        left: 80%;
        top: 2%;
        width: 50px;
    }
}