.card{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #787878;
    border-radius: 1.25rem;
    flex:1 1 auto;
    margin: 20px 0 0 20px;
    color: white;
}
.filter_main_card{
    border-radius: 0.25rem;
}

.w-75{
    width: 75%;
}

.pl-5{
    padding-left: 5%;
}

.card ul{
    max-width: 80%;
    overflow: hidden;
    overflow-x: scroll;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: space-between;
    border-bottom: 1px solid #787878;
}

.card ul li{
    padding-left: 0px;
    cursor: pointer;
    color: rgb(80,80,80);

}
.card ul li.active{
    border-bottom: 2px solid red;
    color: white;
}
.card ul::-webkit-scrollbar{
    display: none;
}

@media (max-width: 780px) {
    .filter_main_card{
        width: 90% !important;
    }

    .filter_main_card .pl-5{
        width: 100%;
        padding: 15px;
    }

    .filter_main_card .filter_main_card_content .card-badge{
        margin: 0 0 10px 0 !important;
        font-size: 13px;
    }

    .card ul {
        max-width: inherit;
    }
    .card ul li{
        padding-right: 15px;

    }

    #id_filter_card_list{
        width: 100% !important;
        flex-direction: column !important;
        justify-content: space-around;
    }
    #id_filter_card_list div{
        width: 100% !important;
        margin: 10px 0 0 10px;
    }

    .filter_card {
        margin: 10px 0 10px 0 !important;
    }

}
