.card h4{
    font-size: 14px;
    height: fit-content;
}
.circle:before {
    content: ' \25CF';
    font-size: 20px;
    color: red;
    margin: 0 8px 0 8px;
}

.f-right{
    float: right;
    margin-right: 8px;
    font-weight: lighter;
    font-size: 12px;
    cursor: pointer;

}

.f-right:hover{
    border-bottom: 1px solid white;
}

.w-97{
    width: 97%;
}

@media (max-width: 780px) {
    #id_section2_body{
        width: 90%;
    }

    #id_section2_body .section2_filter_main_card{
        width: 100%;
        padding: 15px;
    }
    #id_section2_body .section2_filter_main_card .w-97{
        width: 100% !important;
    }

    #id_section2_body .section2_filter_main_card h4{
        font-size: 12px;
    }
    #id_section2_body .section2_filter_main_card .f-right{
        font-size: 10px;
        margin-top: 10px;
    }
}