.App{
  background-color: #303030;
}

@media (max-width: 768px) {
  .App{
    display: block !important;
    overflow: hidden;
  }
  #overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: hsla(0,0%,100%,.7);
  }

  #id_mainContentDiv{
    display: block !important;
  }

   #id_section{
    width: 100% !important;
  }

   #id_aside{
     width: 100% !important;
   }
}